.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, transparent, black, transparent);
    background-size: 100% 1px;
    background-repeat:  no-repeat;
    background-position: bottom center;
    background-image: linear-gradient(to right,
    rgba(200, 200, 200, 0),
    rgba(200, 200, 200, 1),
    rgba(200, 200, 200, 0));
}
