legend,
label[for="mensagem"] {
	font-weight: bold;
	margin-top: 1em;
}
label[for] {
	display: block;
}
input[type="text"],
input[type="email"], textarea {
	font-family: inherit;
	font-size: 100%;
	padding: .25em .5em;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
fieldset > fieldset {
	display: inline;
}
label[for="outro"] {
    display: inline;
}
input[name="outro-assunto"] {
    width: auto;
}
input:focus, textarea:focus {
	background-color: #FFD;
}
input:invalid {
	box-shadow: 0 0 5px red;
}
button {
    /* Precisamos tirar a borda que o navegador coloca por padrão */
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    /* Faz com que o botão apareça na direita */
    margin-left: auto;
    margin-top: 1em;
}
button:hover,
button:focus {
    background-color: #8C1D3D;
}
input[value="outro"] ~input {
	display: none;
}
input[value="outro"]:checked ~input {
	display: inline;
}