
body {
    overflow-x: hidden;
}
header {
    position: relative;
}
.palavras-home {
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-twitter {
    box-sizing: border-box;
    background-color: #3C1D3D;
    border: .25em solid black;
    color: #FFF;
    font-size: .6em;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 1;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -26px;
    transform-origin: 0 0;
    transform: translate(6.9em, -2.3em) rotate(45deg);
    right: 0;
    width:  14em;
}
/* palavras chaves */
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
    position: absolute;
}

.eficiencia {
    top: 38%;
    left: 81%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(0px);
}

.boas-praticas {
    top: 85%;
    left: 17%;
    transform: translate(-50%, -50%) rotate(10deg) translateX(0px);
}

.codigo-limpo {
    top: 56%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(0px);
}

.css3 {
    top: 63%;
    left: 33%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px);
}

.html5 {
    top: 58%;
    left: 72%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);
}

.javascript {
    top: 23%;
    left: 66%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px);
}

.acessibilidade {
    top: 37%;
    left: 26%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(.5px);
}

.responsivo {
    top: 19%;
    left: 14%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(.5px);
}

.otimizacoes {
    top: 81%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(.5px);
}

.agilidade {
    top: 18%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px);
}

.design {
    top: 48%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(.5px);
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    color: #99A;
    font-size: 1.5em;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    display: inline-block;
    font-size: 4em;
    transform: rotate(-5deg) skew(-10deg);
}
.botao-index {
    background-color: #851944;
    border: .2em solid black;
    color: #FFF;
    display: block;
    font-size: 1.25em;
    text-align: center;
    margin: 2em auto;
    width: 40ch;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    margin-bottom: .5em;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;

}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    border-bottom: .5em solid #851944;
    color: #FFF;
    position:  relative;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li {
    width: 30%;
}
.blog li a
 {
    color: #FCC;
    display: block;
    padding: .5em;
}
.blog .inicio-post {
    background-color: #F2FFFC;
    color: #000;
    height: 8em;
    left: 30%;
    right: 4em;
    top: 4em;
    padding: 1.5em;
    position: absolute;
}
.mais-recente {
    background-color: #F2FFFC;
}
.blog.mais-recente a {
    color: #F26;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
