.portfolio li {
    display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.portfolio img {
    box-shadow: 0 0 4px #000;
    width: 100%
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio li:first-child {
    flex-basis: 100%;
}
.portfolio li {
    flex: 1 1 45%;
}
